.my_border-none{
    border: none;
}
.my_bg-grey{
    background-color: #e9ecef;
}
.my_bg-white{
    background-color: white;
}
.my_bg-lightblue{
    background-color: #1b72e8;
}

.my_bg-blue{
    background-color: #165bba;
}
.my_bg-darkblue{
    background-color: #11283e;
}
.my_right-0{
    right: 0;
}
.my_btn{
    padding: 0.2rem 0.5rem;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid white;
    color: white;
    transition: 0.2s;
    background-color: #1b72e8;
}
.my_btn-blue{
    padding: 0.2rem 0.5rem;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid white;
    color: white;
    transition: 0.2s;
    background-color: #1b72e8;
}
.my_btn-grey{
    padding: 0.2rem 0.45rem;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid gray;
    color: gray;
    transition: 0.2s;
    background-color: white;
}
.my_w50{
    --bs-offcanvas-width: 50%;
}
.my_w150{
    max-width: 150px;
}

.my_bg-red{
    background-color: red;
}

.my_h-max{
    height: calc(100vh - 58px);
}
#mobile-logo img{
    width: 40px;
}
#my_right{
    right: 0;
    left: auto;
}
.my_h100{
    height: 100%;
}
.my_h50{
    height: 50px;
}
.my_58{
    height: 58px;
}
.my_overflow{
    overflow: hidden;
}
.my_overflow-y{
    overflow-y: auto;
}
.my_nav-img{
    background-image: url(../img/sidebar-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.my_img{
    background-image: url(../img/class-avatar.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}
.my_50{
    width: 50%;
}

@media screen and (max-width: 576px) {


}

@media screen and (max-width: 992px) {

    .my_nav-img span{
        display: none;
    }
    .my_w150{
        max-width: 60px;
    }
    #desktop-logo{
        display: none;
    }
    #mobile-logo{
        display: block;
    }
    .my_w50{
        --bs-offcanvas-width: 100%;
    }
}

@media screen and (min-width: 993px) {

    #desktop-logo{
        display: block;
    }
    #mobile-logo{
        display: none;
    }
    .my_w50{
        --bs-offcanvas-width: 50%;
    }
}


